<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">

	<!-- ContextLoaderListener가 Root WebApplicationContext를 생성할 때 사용할 spring 설정 파일의 위치 지정-->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<!-- <param-value>/WEB-INF/spring/root/*.xml</param-value> -->
		<param-value>classpath:spring/root/*.xml</param-value>
	</context-param>
	
	<!-- 웹 애플리케이션이 시작(배치, deployment)될 때와 종료(해제, undeployment)될 때 Root WebApplicationContext를 생성하고 제거하기 위해 ContextLoaderListener 설정-->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- 클라이언트의 요청을 처리하는 DispatcherServlet 설정 -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- DispatcherServlet이 WebApplicationContext를 생성할 때 사용할 Spring 설정 파일의 위치 지정 -->

		<init-param>
			<param-name>contextConfigLocation</param-name>
			<!-- <param-value>/WEB-INF/spring/appServlet/*.xml</param-value> -->
			<param-value>classpath:spring/dispatcher/*.xml</param-value>
		</init-param>
		<!-- 404일 경우 500에러로 발생 -->
		<init-param>
			<param-name>throwExceptionIfNoHandlerFound</param-name> <!-- 요청 매핑 메소드를 못 찾았을 경우에 강제로 발생 -->
			<param-value>true</param-value>
		</init-param>
		
		<!-- 배치할 때 DispatcherServlet 객체를 미리 생성하도록 설정 -->
		<load-on-startup>1</load-on-startup>
		<!-- Servlet 3.0에서 지원하는 multipart/form-data 파싱 기능을 위한 설정 -->
		<multipart-config>
			<!-- 임시 파일이 저장될 폴더의 절대 경로만 가능 -->
			<location>C:/Temp</location>
			<!-- 파일 크기가 10MB이하만 허용(1024*1024*10) -->
			<max-file-size>10485760</max-file-size>
			<!--multipart/form-data 전체 크기가 30MB 이하만 허용(1024*1024*30) -->
			<max-request-size>31457280</max-request-size>
			<!-- 임시 파일로 저장해야할 파일의 크기 지정(요청 처리가 끝나면 임시 파일 삭제) -->
			<file-size-threshold>1024</file-size-threshold> <!-- 입력으로 들어온 파일의 크기가 file-size-threshold 에서 지정한 크기 이하면 메모리에서 올리고 이상이면 Temp 파일에 임시적으로 저장해서 쓴다 그리고 파일 요청 처리가 끝나면 임시파일은 삭제가 된다 영구적으로 저장해야 되는 것은 똑같다-->
		</multipart-config>
	</servlet>
		
	<!-- 클라이언트가 http://localhost:8080/webapp/... 이렇게 요청했을 때 DisaptchServlet 처리-->
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<!-- 클라이언트가 POST 방식으로 한글을 보냈을 때 한글을 복원시키는 Filter 추가-->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	
	<!-- 클라이언트가 http://localhost:8080/webapp/* 이렇게 요청했을 때 CharacterEncodingFilter 처리-->
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 404 에러 처리 -->
	<!--
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/views/ch10/404.jsp</location>
	</error-page>
	-->

	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- Spring Security 로그인 중복 방지를 위해 설정 -->
	<listener>
		<listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
	</listener>
	 
	 
</web-app>